<!-- <input
    type="text" 
    (input)="onServerCreated($event)"
/> -->

<!-- <br>
<br> -->

<input
    type="text" 
    [(ngModel)] = "serverName"
/>

<button [disabled]="!allowNewServer" 
   (click)="onServerAdded()" > add Server</button>

<p>Server Name : {{serverName}}</p>

<p *ngIf="serverCreated; else noServer">server was created with name {{serverName}}</p>

<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<app-server *ngFor="let server of servers">

</app-server>
